<!DOCTYPE html>
<html>
<head>
	<title>日志</title>
	<script type="text/javascript" src="http://xingsom.com/web/js/jquery.min.js"></script>
	<script type="text/javascript" src="http://xingsom.com/web/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="http://xingsom.com/web/css/bootstrap.min.css">
</head>
<body>
	<table class="table">
	  	<thead>
	        <tr>
				<th class="">用户姓名</th>
				<th class="">频道名称</th>
				<th class="">操作类型</th>
				<th class="">操作日期</th>
			</tr>
	    </thead>
	    <tbody>
			{notempty name="lists"}
				{volist name="lists" id="vo"}
					<tr>
						<td>{$vo.user_name}</td>
						<td>{$vo.channel_name}</td>
						<td>
							{switch name="$vo.log_type" }
							    {case value="1"}离开房间{/case}
							    {case value="0"}加入房间{/case}
							{/switch}
						</td>
						<td>{$vo.log_time | date="y-m-d H:m:s",###}</td>
					</tr>
				{/volist}
			{else /}
				<td colspan="9" class="text-center"> aOh! 暂时还没有内容! </td>
			{/notempty}
		</tbody>
	</table>
</body>
</html>